<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="User_Interface.Properties.Settings.Stock_Managment_PharmacyConnectionString"
            connectionString="Data Source=DESKTOP-KNG9Q9T\SQLEXPRESS;Initial Catalog=Institut;Persist Security Info=True;User ID=root;Password=06122099youcef;TrustServerCertificate=True" /// add connection string
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>
